[mysqld]

user                     = mysql


##################################################
# WSREP MySQL requirements and optimisations
##################################################

default_storage_engine   = innodb                                                                                                                    
binlog_format            = row                                                                                                                       
innodb_autoinc_lock_mode = 2 # parrallel applying                                                                                                    
innodb_flush_log_at_trx_commit = 0                                                                                                                  
query_cache_size         = 0                                                                                                                         
query_cache_type         = 0                                                                                                                         


##################################################
# WSREP
##################################################

# Path to Galera plugin library
wsrep_provider           = /usr/lib/galera/libgalera_smm.so

# SST (State Snapshot Method) how to sync nodes
wsrep_sst_method         = rsync                                                                                                                     

# Turn of recovery optimisation, as it wont work with Docker.
# (Because of the changing IPs)
# Not in MariaDB :(
# wsrep_provider_options   = "pc.recovery=false"

# This options should could be set as a 
#
#wsrep_cluster_address    = "gcomm://"                                                                                                               
#wsrep_cluster_name       = "the_cluster" 

!includedir /etc/mysql/conf.d/